/* =====================
	popup
======================== */

#popup-daytracks-workload-history .selectors {
	border-width: 1px;
	border-style: solid;
	padding: 7px 10px;
}

	#popup-daytracks-workload-history .selectors form {
		float:left;
	}

	#popup-daytracks-workload-history .selectors select {
	}

	#popup-daytracks-workload-history .selectors .toggleDetails {
		float:left;
		margin-left:5px;
	}

	#popup-daytracks-workload-history .selectors .toggleDetails a {
		padding: 0;
	}

	#popup-daytracks-workload-history .selectors .toggleDetails a.open {
		background: transparent url(../img/icons.png) no-repeat 0 -60px;
	}

	#popup-daytracks-workload-history .selectors .toggleDetails a.close {
		background: transparent url(../img/icons.png) no-repeat 0 -30px;
	}

#popup-daytracks-workload-history #trackings {
	margin: 10px 0;
	padding-bottom:5px;
	border-width: 1px;
	border-style: solid;
}

	#popup-daytracks-workload-history #trackings .details div,
	#popup-daytracks-workload-history #trackings .daytrack {
		padding: 5px;
		border-width: 0 0 1px 0;
		border-style: dotted;
	}

	#popup-daytracks-workload-history #trackings .total {
		border-style: solid;
	}

	#popup-daytracks-workload-history #trackings .toggled {
		margin-top:5px;
		border-width: 1px 0;
		border-style: solid;
	}


	#popup-daytracks-workload-history #trackings .details div span,
	#popup-daytracks-workload-history #trackings .daytrack span{
		position: absolute;
		right: 30px;
	}

	#popup-daytracks-workload-history #trackings .details {
		padding: 0 0 0 5px;
	}