/* ---------------------
	Popup
------------------------ */

#daytracks-history .selectors {
	border:1px solid #bababa;
	padding:7px 10px;
}

	#daytracks-history .selectors form {
		float:left;
	}

	#daytracks-history .selectors select {
	}

	#daytracks-history .selectors .toggleDetails {
		float:left;
		margin-left:5px;
	}

	#daytracks-history .selectors .toggleDetails a {
		padding:0;
	}

	button.daytracksexpand .icon {
	  background:transparent url(../img/icons.png) no-repeat 0 -60px !important;
	}
	button.daytrackscollapse .icon {
	  background:transparent url(../img/icons.png) no-repeat 0 -30px !important;
	}
	
	#daytracks-history .selectors .toggleDetails a.open {
		background:transparent url(../img/icons.png) no-repeat 0 -60px;
	}

	#daytracks-history .selectors .toggleDetails a.close {
		background:transparent url(../img/icons.png) no-repeat 0 -30px;
	}

#daytracks-history-trackings {
	margin:10px 0;
	padding-bottom:5px;
	border:1px solid #bababa;
}

	#daytracks-history-trackings h1 {
		background-color:#e7e7e7;
		border-bottom:1px dotted #bababa;
	}
		#daytracks-history-trackings h1.totaltime {
			padding:4px 0 6px 20px;
			background:#e7e7e7 url(../img/icons.png) no-repeat 80px -104px;
		}

	#daytracks-history-trackings .details div,
	#daytracks-history-trackings .daytrack {
		padding:5px;
		border-width:0 0 1px 0;
		border-style:dotted;
		border-color:#bababa;
	}

	#daytracks-history-trackings .total {
		border-style:solid;
	}

	#daytracks-history-trackings .toggled {
		margin-top:5px;
		border-width:1px 0;
		border-style:solid;
	}

	#daytracks-history-trackings .daytrackdetail span.task {
		width:300px;
		display:inline-block;
		text-align:left;
	}
	#daytracks-history-trackings .daytrackdetail span.task span.tasknumber {
		width:90px;
	}
	
	#daytracks-history-trackings .daytrackdetail span.time {
		width:10px;
		display:inline-block;
		text-align:right;		
	}

	#daytracks-history-trackings .details {
		padding:0 0 0 5px;
	}