<div id="{$id}">
	<div class="selectors overflow bordercolor">
	
		{* ------------------- Select month ------------------- *}
		<form id="{$id}-form">
			<select class="selector" id="{$id}-selector" onchange="Todoyu.Ext.daytracks.History.update()">
				{foreach $ranges year months}
					<optgroup label="{$year}">
						{foreach $months number name}
							<option value="{$year}-{$number}" {if $curYear==$year && $curMonth==$number}selected="selected"{/if}>{$name} {$year}</option>
						{/}						
					</optgroup>
				{/foreach}
			</select>
		</form>

		{* ------------------- Toggle details ------------------- *}
		<span class="toggleDetails">
		{if $details}
			{Button label="daytracks.history.toggledetails.close" title="{Label daytracks.history.toggledetails.close}" class="button daytrackscollapse" onclick="Todoyu.Ext.daytracks.History.toggleDetails()"}
		{else}
			{Button label="daytracks.history.toggledetails.open" title="{Label daytracks.history.toggledetails.open}" class="button daytracksexpand" onclick="Todoyu.Ext.daytracks.History.toggleDetails()"}
		{/if}
		</span>
	</div>

	{* ------------------- Timetracks list ------------------- *}
	<div id="{$id}-trackings" class="bordercolor">
		<h1 class="totaltime">
			{Label daytracks.history.total}: {Workload $tracking.total}
		</h1>
		
{foreach $tracking.dayTracks timestamp daytracks}
		<div class="daytrack bordercolor {if $details}toggled{else}{cycle values="odd,even"}{/if}">
			{dateFormat $timestamp D2M2Y4}:
			<span>{Workload $daytracks.total}</span>
		</div>
	{* ------------------- Track details ------------------- *}
	{if $details}
		<div class="details">
		{foreach $daytracks.tracks index track}
			<div class="daytrackdetail bordercolor {cycle values="odd,even"}">
				<span class="task">
					<a href="javascript:void(0)" onclick="Todoyu.Ext.project.goToTaskInProject({$track.task.id})">
						<span class="tasknumber">{$track.task.id_project}.{$track.task.tasknumber}</span>
						<span class="tasktitle">{htmlencode $track.task.title}</span>
					</a>
				</span>
				<span class="time">
					{Workload $track.workload_tracked}
				</span>
			</div>
		{/foreach}
		</div>
	{/if}
	{else}
		<p>{Label daytracks.history.noTracks}</p>
{/foreach}
	</div>
</div>