<div id="{$id}">
	<div class="selectors overflow bordercolor"
		{* ------------------- Select month ------------------- *}
		<form id="{$id}-form" class="floatLeft">
			<div class="floatLeft">
				<select class="select selector" id="{$id}-selector" onchange="Todoyu.Ext.daytracks.History.update()">
					{foreach $ranges year months}
						<optgroup label="{$year}">
							{foreach $months number monthData}
								{if $monthData.hasTracks}
								<option class="{cycle values="odd,even"}" "value="{$year}-{$number}" {if $currentYear==$year && $currentMonth==$number}selected="selected"{/if}>{$monthData.label} {$year}</option>
								{/if}
							{/foreach}
						</optgroup>
					{/foreach}
				</select>
			</div>
			<div class="floatLeft">
				<input id="showtracksdetails" type="checkbox"{if $showDetails} checked="checked"{/if} onchange="Todoyu.Ext.daytracks.History.toggleDetails()" style="width:20px">
				<label for="showtracksdetails">{Label daytracks.history.showdetails}</label>
			</div>
		</form>
	</div>
	{* ------------------- Time tracks list ------------------- *}
	<div id="{$id}-trackings" class="bordercolor">
		<h1 class="totaltime">{Label daytracks.history.total}: {Workload $tracking.total}</h1>
	{foreach $tracking.dayTracks timestamp daytracks}
		<div class="daytrack bordercolor {if $showDetails}toggled{else}{cycle values="odd,even"}{/if}">
			{dateFormat $timestamp D2M2Y4}:
			<span>{Workload $daytracks.total}</span>
		</div>
		{* ------------------- Track details ------------------- *}
		{if $showDetails}{include file="history-track-details.tmpl"}{/if}
	{else}<p>{Label daytracks.history.noTracks}</p>{/foreach}
	</div>
</div>