<ul class="contextmenudaytrackspwidget ulListDotted withMouseHover">
	{foreach $tasks key task daytracks}
		<li id="daytracks-track-{$task.id}" class="{cycle values="odd,even"} listItem status-{taskStatusKey $task.status} bcStatus{$task.status}{if $task.id == $current} running{/if}" title="{taskStatusLabel $task.status}">

			{if $task.isTrackable || $task.id == $current}
				<a id="daytracks-track-{$task.id}-button" class="icon start {if $task.id == $current}running{/if}" href="javascript:void(0)" onclick="Todoyu.Ext.daytracks.PanelWidget.Daytracks.toggleTimetracking({$task.id})" title="{if $task.id == $current}{Label timetracking.stop}{else}{Label timetracking.start}{/if}"><!-- button --></a>
			{/if}

			<a id="daytracks-track-{$task.id}-info" class="info" title="{Label panelwidget-daytracks.goToTask}. ({$task.id_project}.{$task.tasknumber})" href="javascript:void(0)" {if $task.seeTask}onclick="Todoyu.Ext.project.goToTaskInProject({$task.id}, {$task.id_project})"{/if}>
				<span class="time" id="daytracks-track-{$task.id}-time">{HourMinSec $task.time}</span>
				<span class="tasknumber"># {$task.id_project}.{$task.tasknumber}</span>
				<span class="task">{htmlencode $task.title|truncate:43}</span>
				<span class="company-project">{$task.company} - {$task.project}</span>
			</a>
		</li>
	{/foreach}
</ul>

<div id="daytracks-daytotal" class="notification">
	<span>{Label panelwidget-daytracks.totalToday}:</span>
	<span id="daytracks-daytotal-time">{HourMinSec $total}</span>
	<span class="totalTasks">({$.foreach.daytracks.total} {Label task.tasks})</span>
</div>

{restrict 'daytracks' 'daytracks:showHistory'}
<div class="history">
	{Button label="panelwidget-daytracks.showHistory" class="trackHistory" onclick="Todoyu.Ext.daytracks.PanelWidget.Daytracks.showHistory()"}
</div>
{/restrict}